.Column {
  /* border: solid black 2px; */
  box-shadow: 3px 3px 15px 2px #000000;
  padding: 10px;
  margin: 0px 10px 10px 10px;
  background-color: white;
  /* background-color: rgb(226, 167, 128); */
  /* background-image: url("../images/houses.jpg"); */
  background-size: cover;
  width: 70%;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ProjectCard:nth-child(1) .dream {
  background-color: #ffdbc8;
}
.ProjectCard:nth-child(2) .dream {
  background-color: #ff9864;
}
.ProjectCard:nth-child(3) .dream {
  background-color: #ff7632;
}
.ProjectCard:nth-child(4) .dream {
  background-color: #cc4400;
}
.ProjectCard:nth-child(5) .dream {
  background-color: #993300;
}
/* This is the coming soon section */

.ProjectCard:nth-child(1) .comingSoon {
  background-color: #fffdc8;
}
.ProjectCard:nth-child(2) .comingSoon {
  background-color: #fffe64;
}
.ProjectCard:nth-child(3) .comingSoon {
  background-color: #fffe32;
}
.ProjectCard:nth-child(4) .comingSoon {
  background-color: #cccc00;
}
.ProjectCard:nth-child(5) .comingSoon {
  background-color: #999900;
}
/* This is the urgent section */
.ProjectCard:nth-child(1) .urgent {
  background-color: #ccfdd1;
}
.ProjectCard:nth-child(2) .urgent {
  background-color: #66fe7e;
}
.ProjectCard:nth-child(3) .urgent {
  background-color: #33fe54;
}
.ProjectCard:nth-child(4) .urgent {
  background-color: #00cc22;
}
.ProjectCard:nth-child(5) .urgent {
  background-color: #00991a;
}

/* This is the in progress section */
.ProjectCard:nth-child(1) .inProgress {
  background-color: #ccecfb;
}

.ProjectCard:nth-child(2) .inProgress {
  background-color: #66cbfd;
}
.ProjectCard:nth-child(3) .inProgress {
  background-color: #33bafe;
}
.ProjectCard:nth-child(4) .inProgress {
  background-color: #0088cc;
}
.ProjectCard:nth-child(5) .inProgress {
  background-color: #006699;
}

/* This is the complete section */

.ProjectCard:nth-child(1) .complete {
  background-color: #ffcaea;
}
.ProjectCard:nth-child(2) .complete {
  background-color: #ff97da;
}
.ProjectCard:nth-child(3) .complete {
  background-color: #ff32ba;
}
.ProjectCard:nth-child(4) .complete {
  background-color: #cc0088;
}
.ProjectCard:nth-child(5) .complete {
  background-color: #990066;
}
