.centering-div {
  display: flex;
  justify-content: center;
  /* background-image: linear-gradient(to bottom right, #3c5b74, #a3acb1); */
  height: 100vh;
  background-color: white;
}

.ProjectForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 500px;
  min-width: 30vw;
  max-width: 500px;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 5px;
  /* border: dashed 3px #264b77; */
  color: #264b77;
  box-shadow: 2px 2px 15px 2px #000000;
  margin-top: 50px;
}

.ProjectForm h3 {
  text-align: center;
  font-size: 50px;
  /* background-image: url(../images/tape-measure.jpg);
  background-size: 870px; */
  background-image: linear-gradient(to bottom right, #3774a7, #eaeff1);
  /* background-position: 100px; */
  margin: 0px;
  padding: 30px 0px 30px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Cabin Sketch";
  width: 100%;
}
.ProjectForm__option {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ProjectForm__button {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px 25px 10px 25px;
  background-color: #264b77;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.ProjectForm__button:hover {
  background-color: #e59c2e;
  box-shadow: 0px 15px 20px rgba(229, 156, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.ProjectForm__input {
  border-radius: 5px;
  color: #264b77;
  width: 200px;
  font-family: sans-serif;
  border: dashed 1px lightgray;
  background-color: white;
}
