.parent {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-image: linear-gradient(to bottom right, #6e304b, #a3acb1);
    height: 100vh;
    width: 100vw;
    
}

.brdbtn {
    text-align: right;
    padding-right: 250px;
    padding-top: 150px;
 

}

.projbtn {
    text-align: right;
    padding-right: 250px;
    padding-top: 150px;

}

.boardBtn {
background-color: #3c5b74;
font-weight: 800;
padding: 20px;
padding-left: 50px;
padding-right: 50px;
}

.ProjectBtn {
background-color: #b67929;
font-weight: 800;
padding: 20px;
padding-left: 50px;
padding-right: 50px;
}
.stat-sheet{
    
    
}
div.stat-area-home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    width: 20%;
    background-color: rgb(181, 179, 179);
    border-radius: 10px;
}
.stat-label-home {
    border-bottom: black solid;
    margin-bottom: 0;
}

.homepage1 {
    width: 40vh;
    height: 25vh;
}

.homepage {
    width: 40vh;
    height: 25vh;
}

