.ProjectCard__card {
  /* border: solid black 1px; */
  /* padding: 10px; */
  margin: 5px;
  width: 150px;
  height: 170px;
  position: relative;
  cursor: move;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 25% 10%; */
  box-shadow: 2px 2px 15px 0px #000000;
}
.project-name {
  flex: 1;
  margin: 5px;
}

.draggable.dragging {
  opacity: 0.5;
  background-color: blue;
}
.btn-container {
  display: flex;
  justify-content: right;
}
.editBtn {
  box-shadow: inset -50px -33px 50px -31px #e67a73;
  background-color: #a60202;
  border-radius: 12px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 7px;
  text-decoration: none;
  text-shadow: 1px -1px 6px #b23e35;
}
.editBtn:hover {
  background-color: #ad3f03;
}
.editBtn:active {
  position: relative;
  top: 1px;
}

.ProjectCard__text {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 150px;
  height: 60px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* .ProjectCard .dream {
	background-color: purple;
}
.ProjectCard__card.urgent {
	background-color: yellow;
} */

/* .dream {
  background-color: aqua;
}
.soon {
  background-color:cornsilk;
}
.urgent{
 background-color: burlywood;
}
.progress{
  background-color: cornflowerblue;

}
.none {
	background-color: #dcd4d9;
}
.living {
	background-color: plum;
}
.bath{
	background-color: cornflowerblue;
}
.kitchen{
	background-color: palevioletred;
}
.bedroom {
	background-color: palegoldenrod;
}
.basement {
	background-color: paleturquoise;
}
.office {
	background-color: palegreen;
}


.none.outdoor {
	background-color: #dcd4d9;
background-image: linear-gradient(0deg, #09735b 20%, #dcd4d9 50%);

}
.living.outdoor {
	background-color: #dda0dd;
background-image: linear-gradient(0deg, #dda0dd 53%, #09735b 88%);

}
.bath.outdoor{
	background-color: #6495ed;
background-image: linear-gradient(0deg, #6495ed 53%, #09735b 88%);

}
.kitchen.outdoor{
	background-color: #d87093;
background-image: linear-gradient(0deg, #d87093 53%, #09735b 88%);

}
.bedroom.outdoor {
	background-color: #eee8aa;
background-image: linear-gradient(0deg, #eee8aa 53%, #09735b 88%);

}
.basement.outdoor {
	background-color: #afeeee;
background-image: linear-gradient(0deg, #afeeee 53%, #09735b 88%);

}
.office.outdoor {
	background-color: #98fb98;
background-image: linear-gradient(0deg, #98fb98 53%, #09735b 88%);

} */
