.Board {
        padding: .5rem;
        display: grid;
        gap: .5rem;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(auto-fill, 250px);
        align-items: start;
        gap: .5rem;
      
}
.colum-box {
    background-color: darkgrey;
    border-radius: 10px;
    width: 82%;
    margin-left: 8%;
    border: solid 1px;
    border-color: black;
}
h2 {
    margin: 0;
    
}
.complete {
    text-decoration: line-through;
   
}
 