.centering-div {
  display: flex;
  justify-content: center;
}

.ProjectForm {
  display: flex;
  flex-direction: column;
  background-color: peachpuff;
  height: 500px;
  min-width: 30vw;
  max-width: 500px;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 5px;
  border: dashed 3px #264b77;
  color: #264b77;
}

.ProjectForm h3 {
  font-size: 50px;
  background-image: url(../images/tape-measure.jpg);
  background-size: 870px;
  background-position: 100px;
  margin: 0px;
  padding: 30px 0px 30px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Cabin Sketch";
}

.ProjectForm__button {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px 25px 10px 25px;
  background-color: #264b77;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.ProjectForm__button:hover {
  background-color: #e59c2e;
  box-shadow: 0px 15px 20px rgba(229, 156, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.ProjectForm__input {
  border-radius: 5px;
  color: #264b77;
  width: 200px;
  font-family: sans-serif;
}
