.parent {
    background-color: #3c5b74;
    text-align: center;
}

.firstLine {
font-family: fantasy; 
font-size: 70px;
padding-top: 50px;
color: #00243f;
}

.secondLine {
    font-family: monospace;
    font-size: 50px;
    color: #b67929;
}



img {
    padding-top: 25px
}