.parent {
  background-color: #3c5b74;
  text-align: center;
}

.LandingPage {
  display: flex;
  flex-direction: column;
}

.firstLine {
  font-family: fantasy;
  font-size: 70px;
  padding-top: 50px;
  color: #00243f;
  text-align: center;
}

.secondLine {
  font-family: monospace;
  font-size: 50px;
  color: #b67929;
  text-align: center;
}

img {
  padding-top: 25px;
}
