.parent {
    background-color: #3c5b74;
    text-align: center;
}

.firstLine {
font-family: fantasy; 
font-size: 70px;
padding-top: 50px;
color: #00243f;
}

.secondLine {
    font-family: monospace;
    font-size: 50px;
    color: ##b67929;
}

.landingBtn {
display: flex;
margin: auto;
justify-content: center;
padding-top: 15px;
color: white;
background-color: #00243f;
width: 150px;
height: 50px;
font-weight: 800;
font-size: larger;
}

img {
    padding-top: 25px
}