.topnav {
    border-radius: 10px;
    background-color: #00243f;
    color: white;
}

.fixit {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    float: left;
}

.login-container{
    display: flex;
    float: right;
    
}

.topnav .login-container button {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 10px;
    margin: 0px 0px 16px 30px;
    background-color: #b67929;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }