.Header {
  background-color: #264b77;
  
}

nav.Nav {
    display: flex;
  }
  div.Home {
    flex: 1;
  }
  #home-link {
    text-decoration: none;
    
  }
  h1 {
    font-size: 54px;
    color: #b67929;
    margin-top: 5px;
    font-family: 'Martel Sans', sans-serif;
    text-transform: uppercase;
  }
  div.Extras {
    margin-right: 7%;
    display: flex;
  }
  
  svg.MuiSvgIcon-root.HomeIcon {
    height: 60px;
    width: 60px;
    padding: 15px;
    fill: black;
    
  }
  svg.MuiSvgIcon-root.Fav {
    height: 50px;
    width: 50px;
    padding: 15px, 2px, 15px, 15px;
    fill: gray;
    
    
  }
  svg.MuiSvgIcon-root.Fav:hover {
    fill: white;
  }
  
  
  
  
  svg.MuiSvgIcon-root.Search {
    height: 50px;
    width: 50px;
    fill: grey;
    padding-left: 20px;
  }
  
  svg.MuiSvgIcon-root.Search:hover {
    fill: white;
  }

  svg.MuiSvgIcon-root.HomeIcon {
    fill: white;
  }
  
  
  
  


