nav.Nav {
    display: flex;
  }
  div.Home {
    flex: 1;
  }
  #home-link {
    text-decoration: none;
    
  }
  h1 {
    font-size: 54px;
    
    margin-top: 5px;
    font-family: 'Martel Sans', sans-serif;
    text-transform: uppercase;
  }
  div.Extras {
    margin-right: 7%;
    display: flex;
  }
  
  svg.MuiSvgIcon-root.HomeIcon {
    height: 60px;
    width: 60px;
    padding: 15px;
    fill: blue;
    
  }
  svg.MuiSvgIcon-root.Fav {
    height: 50px;
    width: 50px;
    padding: 15px, 2px, 15px, 15px;
    fill: gray;
    
    
  }
  svg.MuiSvgIcon-root.Fav:hover {
    fill: white;
  }
  
  
  
  
  svg.MuiSvgIcon-root.Search {
    height: 50px;
    width: 50px;
    fill: grey;
    padding-left: 20px;
  }
  
  svg.MuiSvgIcon-root.Search:hover {
    fill: white;
  }
  
  
  
  




/* .topnav {
    border-radius: 10px;
    background-color: #00243f;
    color: white;
}

.fixit {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    float: left;
}

.login-container{
    display: flex;
    float: right;
    
} */

/* .topnav .login-container button {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 10px;
    margin: 0px 0px 16px 30px;
    background-color: #b67929;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  } */