.ProjectCard__card {
  border: solid black 1px;
  padding: 10px;
  margin: 5px;
  background-color: white;
  cursor: move;
  width: 200px;
  border-radius: 10px;
}

.draggable.dragging {
  opacity: 0.5;
  background-color: blue;
}
.btn-container {
  display: flex;
  justify-content: right;
}
.editBtn {
	box-shadow:inset -50px -33px 50px -31px #e67a73;
	background-color:#a60202;
	border-radius:12px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 7px;
	text-decoration:none;
	text-shadow:1px -1px 6px #b23e35;
}
.editBtn:hover {
	background-color:#ad3f03;
}
.editBtn:active {
	position:relative;
	top:1px;
}
.dream {
  background-color: aqua;
}
.soon {
  background-color:cornsilk;
}
.urgent{
 background-color: burlywood;
}
.progress{
  background-color: cornflowerblue;

}

